.general{
		margin: 20px;
	  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.zadanie2 {
    display: flex;
    flex-direction: column;
    width: 15%;
}

body {
    color:  red;
}